# List of required packages (Dependencies)


# If you need to specify a version


# Or you need not a pip package, @'...' specifies git branch
git+https://github.com/Kylmakalle/pyTelegramBotAPI.git@feature-BotAPIV3

# Or you have .zip library




telebot
requests

constants
pymongo
datetime
json
bson
